<div class="cards-class">
  <a name="Cards"></a>
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <img src="assets/img/HTML5_Logo_512.png" alt="">
      </div>
      <div class="card-header">
        HTML
      </div>
      <div class="card-copy">
        <p> HyperText Markup Language (HTML) is the standard markup language for creating web pages and web applications. HTML describes the structure of a web page semantically and originally included cues for the appearance of the document.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="assets/img/CSS_Logo_512.png" alt="">
      </div>
      <div class="card-header">
        CSS
      </div>
      <div class="card-copy">
        <p>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language. CSS is a cornerstone technology used by most websites to create visually engaging webpages, user interfaces for web applications, and user interfaces for many mobile applications.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="assets/img/Unofficial_JavaScript_logo_2.png" alt="">
      </div>
      <div class="card-header">
        JavaScript
      </div>
      <div class="card-copy">
        <p>JavaScript is one of the three core technologies of World Wide Web content production; the majority of websites employ it and it is supported by all modern Web browsers.</p>
      </div>
    </div>
  </div>
</div>
