<div class="grid-class">
  <head>
    <link href='//fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
  </head>

  <article class="type-system-serif">
    <p class="type">Article</p>
    <h1>The Internet and Me</h1>
    <h2>The Internet has a way of teaching itself how it works. It is a realy big circle of knowledge rolling and growing. Being a part of that circle is the only way of having a peek of all that there is to known about the Internet</h2>

    <p><span>Going to college and learn about programing</span>,  how machines works, how they talk to each other, the way a systems interacts with other, was just the key in the keyhole, opening the gate to a bigger thing. The road beyond the gate I have traveled driven by curiosity and stubborness. Stubborness for working on things, until things worked the exact way I intended them to.

    </p>
    <h3>Source of knowledge</h3>
    <p><span>Knowledge can come from anywhere</span>, I have had a lot of teachers in the Internet, some I name here others not. There have been so many and from many places, that is imposible to name them all, none the less I give thank to them all equally.</p>
    <hr>
    <p class="author">Sebastián Pérez</p>
  </article>

  <div class="grid-items-lines">
    <a href="javascript:void(0)" class="grid-item">
      <div class="hover-tile-outer w3c">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
          <div class="hover-tile hover-tile-hidden">
            <h4>W3C</h4>
            <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <div class="hover-tile-outer mdn">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Hidden Copy</h4>
            <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <div class="hover-tile-outer edx">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Hidden Copy</h4>
            <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <div class="hover-tile-outer devtips">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Hidden Copy</h4>
            <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <div class="hover-tile-outer levelup">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Hidden Copy</h4>
            <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <div class="hover-tile-outer codecourse">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Hidden Copy</h4>
            <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <div class="hover-tile-outer learncode">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Hidden Copy</h4>
            <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <div class="hover-tile-outer codecademy">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Hidden Copy</h4>
            <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <div class="hover-tile-outer codeschool">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Hidden Copy</h4>
            <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          </div>
        </div>
      </div>
    </a>
    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
</div>
</div>
