<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="assets/img/guy.gif" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="#Cards">Cards</a></li>
        <li class="nav-link"><a href="#Tabs">Tabs</a></li>
        <li class="nav-link"><a href="#Article">Article</a></li>
        <li class="nav-link"><a href="#Grid">Grid</a></li>
        <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">Example Menu</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">An Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
            <li class="more"><a href="javascript:void(0)">An Item with submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                <li><a href="javascript:void(0)">Another Sub-submenu Item</a></li>
              </ul>
            </li>
            <li class="more"><a href="javascript:void(0)">Another submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu</a></li>
                <li><a href="#Footer">Footer</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>
</header>
