.cards
  padding: 100px
  +outer-container

.grid-items-lines
  +outer-container
  a
    .hover-tile-outer
      background: url("../img/logo-devtips.png")
      background-repeat: no-repeat
      background-position: center
      background-size: contain
      background-color: yellow
